<p>ФИО: {{input value=clientName}}</p>
<p>Тип документа: {{input value=docType}}</p>
<p>Номер документа: {{input value=docData}}</p>
<button disabled={{not isDataValid}} {{action 'submit'}}>Добавить</button>