<h4>Средняя продолжительность проката велосипедов каждой марке в точках</h4>

<select onchange={{action 'setBicycleValue'}} id="bicyclesList">
    <option selected disabled>Выберите велосипед</option>
    {{#each bicycles as |bicycleItem| }}
        <option value={{bicycleItem.id}}>{{listing-bicycle-comp bicycle=bicycleItem}}</option>
    {{/each}}
</select>

<select onchange={{action 'setPointValue'}} id="pointsList">
    <option selected disabled>Выберите точку</option>
    {{#each points as |pointItem| }}
        <option value={{pointItem.id}}>{{listing-point-comp point=pointItem}}</option>
    {{/each}}
</select>

{{#if isDataValid}}
    <button {{action 'submit'}}>Отобразить</button>
{{else}}
    <button disabled>Отобразить</button>
{{/if}}


{{#if isAverageTimeAvailable}}
    <p>Среднее время проката велосипеда на точке: {{averageTime}} минут</p>
{{/if}}

