<p>
    Сессия:
    <select onchange={{action 'selectItem' 'sessionsList' 'sessionId'}} id="sessionsList">
        <option selected disabled value="">Сессия для закрытия</option>
        {{#each sessions as |sessionItem|}}
        <option value={{sessionItem.id}}>{{listing-session-comp session=sessionItem}}</option>
        {{/each}}
    </select>
</p>

<p>
    Принял:
    <select onchange={{action 'selectItem' 'employeesList' 'empId'}} id="employeesList">
        <option selected disabled value="">Ваши данные</option>
        {{#each employees as |employeeItem|}}
        <option value={{employeeItem.id}}>{{listing-employee-comp employee=employeeItem}}</option>
        {{/each}}
    </select>
</p>

<p>
    Точка сдачи:
    <select onchange={{action 'selectItem' 'pointsList' 'pointId'}} id="pointsList">
        <option selected disabled value="">Точка сдачи велосипеда</option>
        {{#each points as |pointItem|}}
        <option value={{pointItem.id}}>{{listing-point-comp point=pointItem}}</option>
        {{/each}}
    </select>
</p>

<button disabled={{not isDataValid}} {{action 'submit'}}>Применить</button>