<p>
    Сессия:
    <select onchange={{action 'setSessionValue'}} id="sessionsList">
        <option selected disabled value="">Выберите сессию для закрытия</option>
        {{#each sessions as |sessionItem|}}
        <option value={{sessionItem.id}}>{{listing-session-comp session=sessionItem}}</option>
        {{/each}}
    </select>
</p>

<p>
    Принял:
    <select onchange={{action 'setEmployeeValue'}} id="employeesList">
        <option selected disabled value="">Ваши данные</option>
        {{#each employees as |employeeItem|}}
        <option value={{employeeItem.id}}>{{listing-employee-comp employee=employeeItem}}</option>
        {{/each}}
    </select>
</p>

<p>
    Точка сдачи:
    <select onchange={{action 'setPointValue'}} id="pointsList">
        <option selected disabled value="">Точка сдачи велосипеда</option>
        {{#each points as |pointItem|}}
        <option value={{pointItem.id}}>{{listing-point-comp point=pointItem}}</option>
        {{/each}}
    </select>
</p>

{{#if isDataValid}}
    <button {{action 'submit'}}>Применить</button>
{{else}}
    <button disabled {{action 'submit'}}>Применить</button>
{{/if}}