{{#if client.id}}
    <p>ФИО: {{input value=client.fullName}}</p>
    <p>Документ: {{input value=client.documentData}}</p>
    {{#if isDataValid}}
        <button  {{action 'submit'}}>Сохранить</button>
    {{else}}
        <button disabled {{action 'submit'}}>Сохранить</button>
    {{/if}}
{{/if}}