<ul>
    {{#each points as |pointItem|}}
    <li {{action 'selectPoint' pointItem}}>{{listing-point-comp point=pointItem}}</li>
    {{/each}}
</ul>

{{#if pointId}}
    <p>Адрес: {{input value=pointAddress}}</p>
    <button disabled={{not pointAddress}} {{action 'submit'}}>Сохранить</button>
{{/if}}
