<ul>
    {{#each employees as |employeeItem|}}
    <li {{action 'selectEmployee' employeeItem}}>{{listing-employee-comp employee=employeeItem}}</li>
    {{/each}}
</ul>

{{#if empId}}
    <p>ФИО: {{input value=empFullname}}</p>
    <p>Должность: {{input value=empPosition}}</p>
    <button disabled={{not isDataValid}} {{action 'submit'}}>Сохранить</button>
{{/if}}
