<p>{{input value=filterValue}}</p>
<button {{action 'showFilteredClients'}}>Поиск</button>
<button {{action 'showAllClients'}}>Показать всех</button>

<ul>
    {{#each filteredClients as |clientItem| }}
       <li {{action 'selectClient' clientItem}}>
           Номер: {{clientItem.id}} {{listing-client-comp client=clientItem}}
        </li>
    {{/each}}
</ul>