{{input value=filterValue}}
<button {{action 'searchClients'}}>Поиск</button>

<ul>
    {{#each filteredClients as |clientItem| }}
       <li {{action 'selectClient' clientItem}}>Номер: {{clientItem.id}} {{listing-client-comp client=clientItem}}</li>
    {{/each}}
</ul>