Идентификатор выбранного клиента: {{clientId}}

<p>
    Выдал:
    <select onchange={{action 'selectEmployeeGiveValue'}} id="employeesList">
        <option selected disabled value="">Ваши данные</option>
        {{#each employees as |employeeItem|}}
            <option value={{employeeItem.id}}>{{listing-employee-comp employee=employeeItem}}</option>
        {{/each}}
    </select>
</p>

<p>
    Велосипед:
    <select onchange={{action 'selectBicycleValue'}} id="bicyclesList"> 
        <option selected disabled value="">Выбранный велосипед</option>
        {{#each bicycles as |bicycleItem|}}
        <option value={{bicycleItem.id}}>{{listing-bicycle-comp bicycle=bicycleItem}}</option>
        {{/each}}
    </select>
</p>

<p>
    Точка выдачи:
    <select onchange={{action 'selectStartPointValue'}} id="startPointsList">
        <option selected disabled value="">Точка выдачи велосипеда</option>
        {{#each points as |pointItem|}}
        <option value={{pointItem.id}}>{{listing-point-comp point=pointItem}}</option>
        {{/each}}
    </select>
</p>

{{#if isDataValid}}
    <button {{action 'submit'}}>Применить</button>
{{else}}
    <button disabled>Применить</button>  
{{/if}}