Идентификатор выбранного клиента: {{clientId}}

<p>
    Выдал:
    <select onchange={{action 'selectItem' 'employeesList' 'employeeGiveId'}} id="employeesList">
        <option selected disabled value="">Ваши данные</option>
        {{#each employees as |employeeItem|}}
            <option value={{employeeItem.id}}>{{listing-employee-comp employee=employeeItem}}</option>
        {{/each}}
    </select>
</p>

<p>
    Велосипед:
    <select onchange={{action 'selectItem' 'bicyclesList' 'bicycleId'}} id="bicyclesList"> 
        <option selected disabled value="">Выбранный велосипед</option>
        {{#each bicycles as |bicycleItem|}}
        <option value={{bicycleItem.id}}>{{listing-bicycle-comp bicycle=bicycleItem}}</option>
        {{/each}}
    </select>
</p>

<p>
    Точка выдачи:
    <select onchange={{action 'selectItem' 'startPointsList' 'startPointId'}} id="startPointsList">
        <option selected disabled value="">Точка выдачи велосипеда</option>
        {{#each points as |pointItem|}}
        <option value={{pointItem.id}}>{{listing-point-comp point=pointItem}}</option>
        {{/each}}
    </select>
</p>

<button disabled={{not isDataValid}} {{action 'submit'}}>Применить</button>